In [1]:
import pandas as pd
df = pd.read_csv("surveyusa4.csv")
df

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,...,c68,c69,c70,c71,c72,c73,c74,c75,c76,c77
0,4800 Adults,All,Gender,Age,<50 / 50+,Race,Class,White X Class,Paycheck,Party Affiliation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Credibility Interval: ±,Male,Female,18-34,35-49,50-64,65+,18-49,50+,White,...,Urban,Suburban,Rural,Male,Female,Northeas,Midwest,South,West,NaN
2,Yes,3850,1920,1930,1014,983,1068,786,1997,1854,...,3385,1077,1878,895,961,917,710,844,1413,883
3,No,866,369,497,410,219,146,91,629,238,...,712,278,336,252,133,202,147,162,347,210
4,Not Sure,83,45,39,44,25,11,4,68,15,...,70,25,37,21,18,19,14,16,32,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,South,1793,866,926,548,462,450,332,1010,782,...,1568,463,841,489,412,429,0,0,1793,0
314,West,1115,553,563,360,290,275,190,650,465,...,962,393,524,198,260,264,0,0,0,1115
315,Total,4800,2334,2466,1468,1226,1224,882,2694,2106,...,4166,1381,2250,1169,1112,1138,871,1021,1793,1115
316,Composition of Adults,100%,49%,51%,31%,26%,26%,18%,56%,44%,...,87%,29%,47%,24%,23%,24%,18%,21%,37%,23%
317,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
cols = df.columns.tolist()
len(cols)

77

In [3]:
df.columns = df.columns.str.replace("c", "")
df.columns = df.columns.astype(int)
df

,1,2,3,4,5,6,7,8,9,10,...,68,69,70,71,72,73,74,75,76,77
0,4800 Adults,All,Gender,Age,<50 / 50+,Race,Class,White X Class,Paycheck,Party Affiliation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Credibility Interval: ±,Male,Female,18-34,35-49,50-64,65+,18-49,50+,White,...,Urban,Suburban,Rural,Male,Female,Northeas,Midwest,South,West,NaN
2,Yes,3850,1920,1930,1014,983,1068,786,1997,1854,...,3385,1077,1878,895,961,917,710,844,1413,883
3,No,866,369,497,410,219,146,91,629,238,...,712,278,336,252,133,202,147,162,347,210
4,Not Sure,83,45,39,44,25,11,4,68,15,...,70,25,37,21,18,19,14,16,32,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,South,1793,866,926,548,462,450,332,1010,782,...,1568,463,841,489,412,429,0,0,1793,0
314,West,1115,553,563,360,290,275,190,650,465,...,962,393,524,198,260,264,0,0,0,1115
315,Total,4800,2334,2466,1468,1226,1224,882,2694,2106,...,4166,1381,2250,1169,1112,1138,871,1021,1793,1115
316,Composition of Adults,100%,49%,51%,31%,26%,26%,18%,56%,44%,...,87%,29%,47%,24%,23%,24%,18%,21%,37%,23%
317,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df.reindex(sorted(df.columns), axis=1)
df

,1,2,3,4,5,6,7,8,9,10,...,68,69,70,71,72,73,74,75,76,77
0,4800 Adults,All,Gender,Age,<50 / 50+,Race,Class,White X Class,Paycheck,Party Affiliation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Credibility Interval: ±,Male,Female,18-34,35-49,50-64,65+,18-49,50+,White,...,Urban,Suburban,Rural,Male,Female,Northeas,Midwest,South,West,NaN
2,Yes,3850,1920,1930,1014,983,1068,786,1997,1854,...,3385,1077,1878,895,961,917,710,844,1413,883
3,No,866,369,497,410,219,146,91,629,238,...,712,278,336,252,133,202,147,162,347,210
4,Not Sure,83,45,39,44,25,11,4,68,15,...,70,25,37,21,18,19,14,16,32,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,South,1793,866,926,548,462,450,332,1010,782,...,1568,463,841,489,412,429,0,0,1793,0
314,West,1115,553,563,360,290,275,190,650,465,...,962,393,524,198,260,264,0,0,0,1115
315,Total,4800,2334,2466,1468,1226,1224,882,2694,2106,...,4166,1381,2250,1169,1112,1138,871,1021,1793,1115
316,Composition of Adults,100%,49%,51%,31%,26%,26%,18%,56%,44%,...,87%,29%,47%,24%,23%,24%,18%,21%,37%,23%
317,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#df.to_csv("test.csv")

In [6]:
#df[0:7].to_csv("surveyusa1/test.csv", index=False)

In [7]:
#df2=pd.read_csv("test.csv")
#df2

In [8]:
#df2.at[1,'1'] = df2.at[1,'2']
#df2.at[1,'2'] = "All"
#df2

Split into separate tables

In [9]:
cuts = [7,15,23,31,39,47,55,63,71,79,87,95,103,110,119,126,137,148,155,166,176,187,197,205,213,221,228,235,244,253,261,269,277,285,293,301,308,317]
cuts
beg=0
index=1
name="survey_data/survey_"
for end in cuts:
    df_temp=df[beg:end]
    beg=end+1
    df_temp.iloc[1] = df_temp.iloc[1].shift(1)
    #df_temp.at[1,'1'] = df_temp.at[1,'2']
    #df_temp.at[1,'2'] = "All"
    filename=name+str(index)+".csv"
    index=index+1
    df_temp.to_csv(filename, index=False)

/usr/local/lib64/python3.6/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

Clean Row 2

In [10]:
index=1
for end in cuts:
    file_name=name+str(index)+".csv"
    index=index+1
    df_temp2 = pd.read_csv(file_name)
    df_temp2.at[1,'1'] = df_temp2.at[1,'2']
    df_temp2.at[1,'2'] = "All"
    df_temp2.to_csv(file_name, index=False)

Clean Row 1

In [11]:
insert = pd.DataFrame({1:'', 2:'All', 3:'Gender', 
                        4:'Gender', 5:'Age', 6:'Age', 
                        7:'Age', 8:'Age', 9:'<50/50+',
                        10:'<50/50+', 11:'Race', 12:'Race',
                        13:'Race', 14:'Race', 15:'Race',
                        16:'Race', 17:'Class', 18:'Class',
                        19:'Class', 20:'Class', 21:'White X Class',
                        22:'White X Class', 23:'Paycheck', 24:'Paycheck',
                        25:'Paycheck', 26:'Paycheck', 27:'Paycheck',
                        28:'Party Affiliation', 29:'Party Affiliation', 30:'Party Affiliation',
                        31:'Ideology', 32:'Ideology', 33:'Ideology',
                        34:'Ideology', 35:'Ideology', 36:'2016 Vote', 37:'2016 Vote',
                        38:'Education', 39:'Education', 40:'Education',
                        41:'Income', 42:'Income', 43:'Income',
                        44:'Marital Status', 45:'Marital Status', 46:'Marital Status',
                        47:'Child < 18', 48:'Child < 18', 49:'Single Parent',
                        50:'Single Parent', 51:'Religion', 52:'Religion',
                        53:'Religion', 54:'Religion', 55:'Attend Religious Service',
                        56:'Attend Religious Service', 57:'Attend Religious Service', 58:'Evangelical',
                        59:'Evangelical', 60:'Aborition', 61:'Abortion',
                        62:'Abortion', 63:'Union HH', 64:'Union HH',
                        65:'Military HH', 66:'Military HH', 67:'LGBTQ HH',
                        68:'LGBTQ HH', 69:'Urbanicity', 70:'Urbanicity',
                        71:'Urbanicity', 72:'Suburban', 73:'Suburban',
                        74:'Region', 75:'Region', 76:'Region',
                        77:'Region'
             }, 
                                                            index =[0])
insert

,1,2,3,4,5,6,7,8,9,10,...,68,69,70,71,72,73,74,75,76,77
0,,All,Gender,Gender,Age,Age,Age,Age,<50/50+,<50/50+,...,LGBTQ HH,Urbanicity,Urbanicity,Urbanicity,Suburban,Suburban,Region,Region,Region,Region

In [12]:
arrays = [['', 'All', 'Gender', 
                        'Gender', 'Age', 'Age', 
                        'Age', 'Age', '<50/50+',
                        '<50/50+', 'Race', 'Race',
                        'Race', 'Race', 'Race',
                        'Race', 'Class', 'Class',
                        'Class', 'Class', 'White X Class',
                        'White X Class', 'Paycheck', 'Paycheck',
                        'Paycheck', 'Paycheck', 'Paycheck',
                        'Party Affiliation', 'Party Affiliation', 'Party Affiliation',
                        'Ideology', 'Ideology', 'Ideology',
                        'Ideology', 'Ideology', '2016 Vote', '2016 Vote',
                        'Education', 'Education', 'Education',
                        'Income', 'Income', 'Income',
                        'Marital Status', 'Marital Status', 'Marital Status',
                        'Child < 18', 'Child < 18', 'Single Parent',
                        'Single Parent', 'Religion', 'Religion',
                        'Religion', 'Religion', 'Attend Religious Service',
                        'Attend Religious Service', 'Attend Religious Service', 'Evangelical',
                        'Evangelical', 'Aborition', 'Abortion',
                        'Abortion', 'Union HH', 'Union HH',
                        'Military HH', 'Military HH', 'LGBTQ HH',
                        'LGBTQ HH', 'Urbanicity', 'Urbanicity',
                        'Urbanicity', 'Suburban', 'Suburban',
                        'Region', 'Region', 'Region',
                        'Region']]

In [13]:
df_temp3 = pd.read_csv("survey_data/survey_1.csv")
df_temp3
list(df_temp3.iloc[1, :])
arrays = [['', 'All', 'Gender', 
                        'Gender', 'Age', 'Age', 
                        'Age', 'Age', '<50/50+',
                        '<50/50+', 'Race', 'Race',
                        'Race', 'Race', 'Race',
                        'Race', 'Class', 'Class',
                        'Class', 'Class', 'White X Class',
                        'White X Class', 'Paycheck', 'Paycheck',
                        'Paycheck', 'Paycheck', 'Paycheck',
                        'Party Affiliation', 'Party Affiliation', 'Party Affiliation',
                        'Ideology', 'Ideology', 'Ideology',
                        'Ideology', 'Ideology', '2016 Vote', '2016 Vote',
                        'Education', 'Education', 'Education',
                        'Income', 'Income', 'Income',
                        'Marital Status', 'Marital Status', 'Marital Status',
                        'Child < 18', 'Child < 18', 'Single Parent',
                        'Single Parent', 'Religion', 'Religion',
                        'Religion', 'Religion', 'Attend Religious Service',
                        'Attend Religious Service', 'Attend Religious Service', 'Evangelical',
                        'Evangelical', 'Aborition', 'Abortion',
                        'Abortion', 'Union HH', 'Union HH',
                        'Military HH', 'Military HH', 'LGBTQ HH',
                        'LGBTQ HH', 'Urbanicity', 'Urbanicity',
                        'Urbanicity', 'Suburban', 'Suburban',
                        'Region', 'Region', 'Region',
                        'Region'],list(df_temp3.iloc[1, :])]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

MultiIndex([(                        '', 'Credibility Interval: ± '),
            (                     'All',                      'All'),
            (                  'Gender',                     'Male'),
            (                  'Gender',                   'Female'),
            (                     'Age',                    '18-34'),
            (                     'Age',                    '35-49'),
            (                     'Age',                    '50-64'),
            (                     'Age',                      '65+'),
            (                 '<50/50+',                    '18-49'),
            (                 '<50/50+',                      '50+'),
            (                    'Race',                    'White'),
            (                    'Race',                    'Black'),
            (                    'Race',                 'Hispanic'),
            (                    'Race',                    'Asian'),
            (                    'Race',                 'Multirac'),
            (                    'Race',                    'Other'),
            (                   'Class',                     'Poor'),
            (                   'Class',                  'Working'),
            (                   'Class',                       'MC'),
            (                   'Class',                 'Upper-MC'),
            (           'White X Class',                  'Working'),
            (           'White X Class',                   'Middle'),
            (                'Paycheck',                  'Falling'),
            (                'Paycheck',                 'Getting '),
            (                'Paycheck',                 'Ends Mee'),
            (                'Paycheck',                 'Rainy Da'),
            (                'Paycheck',                 'Prosperi'),
            (       'Party Affiliation',                 'Republic'),
            (       'Party Affiliation',                 'Democrat'),
            (       'Party Affiliation',                 'Independ'),
            (                'Ideology',                 'Very Con'),
            (                'Ideology',                 'Conserva'),
            (                'Ideology',                 'Moderate'),
            (                'Ideology',                  'Liberal'),
            (                'Ideology',                 'Very Lib'),
            (               '2016 Vote',                    'Trump'),
            (               '2016 Vote',                  'Clinton'),
            (               'Education',                 'High Sch'),
            (               'Education',                 'Some Col'),
            (               'Education',                 '4-year C'),
            (                  'Income',                   '< $40K'),
            (                  'Income',                 '$40K - $'),
            (                  'Income',                   '> $80K'),
            (          'Marital Status',                   'Single'),
            (          'Marital Status',                  'Married'),
            (          'Marital Status',                 'No Longe'),
            (              'Child < 18',                      'Yes'),
            (              'Child < 18',                       'No'),
            (           'Single Parent',                      'Yes'),
            (           'Single Parent',                       'No'),
            (                'Religion',                 'Protesta'),
            (                'Religion',                 'Catholic'),
            (                'Religion',                    'Other'),
            (                'Religion',                 'No Relig'),
            ('Attend Religious Service',                 'Regularl'),
            ('Attend Religious Service',                 'Occasion'),
            ('Attend Religious Service',                 'Almost N'),
            (             'Evangelical',                      'Yes'),
            (             'Evangelical',                       'No'),
            (               'Aborition',                 'Strongly'),
            (                'Abortion',                 'Strongly'),
            (                'Abortion',                 'In The M'),
            (                'Union HH',                      'Yes'),
            (                'Union HH',                       'No'),
            (             'Military HH',                      'Yes'),
            (             'Military HH',                       'No'),
            (                'LGBTQ HH',                      'Yes'),
            (                'LGBTQ HH',                       'No'),
            (              'Urbanicity',                    'Urban'),
            (              'Urbanicity',                 'Suburban'),
            (              'Urbanicity',                    'Rural'),
            (                'Suburban',                     'Male'),
            (                'Suburban',                   'Female'),
            (                  'Region',                 'Northeas'),
            (                  'Region',                  'Midwest'),
            (                  'Region',                    'South'),
            (                  'Region',                     'West')],
           names=['first', 'second'])

In [14]:
df_temp3 = df_temp3.drop(0)
df_temp3 = df_temp3.drop(1)
df_temp3
df_temp3 = pd.DataFrame(df_temp3.to_numpy(), columns=index)
df_temp3

first                             All Gender          Age                   \
second Credibility Interval: ±    All   Male Female 18-34 35-49 50-64  65+
0                           Yes  3850   1920   1930  1014   983  1068  786
1                            No   866    369    497   410   219   146   91
2                      Not Sure    83     45     39    44    25    11    4
3                         Total  4800   2334   2466  1468  1226  1224  882
4         Composition of Adults  100%    49%    51%   31%   26%   26%  18%

first  <50/50+        ... LGBTQ HH Urbanicity                Suburban         \
second   18-49   50+  ...       No      Urban Suburban Rural     Male Female
0         1997  1854  ...     3385       1077     1878   895      961    917
1          629   238  ...      712        278      336   252      133    202
2           68    15  ...       70         25       37    21       18     19
3         2694  2106  ...     4166       1381     2250  1169     1112   1138
4          56%   44%  ...      87%        29%      47%   24%      23%    24%

first    Region
second Northeas Midwest South  West
0           710     844  1413   883
1           147     162   347   210
2            14      16    32    21
3           871    1021  1793  1115
4           18%     21%   37%   23%

[5 rows x 77 columns]

In [15]:
count=1

for end in cuts:
    file_name = name+str(count)+".csv"
    count=count+1
    df_temp3 = pd.read_csv(file_name)
    #get rid of percent signs
    #df_temp3[:] = df_temp3[:].replace({'%':''}, regex=True)
    #Add Row Replacement
    arrays = [['', 'All', 'Gender', 
                        'Gender', 'Age', 'Age', 
                        'Age', 'Age', '<50/50+',
                        '<50/50+', 'Race', 'Race',
                        'Race', 'Race', 'Race',
                        'Race', 'Class', 'Class',
                        'Class', 'Class', 'White X Class',
                        'White X Class', 'Paycheck', 'Paycheck',
                        'Paycheck', 'Paycheck', 'Paycheck',
                        'Party Affiliation', 'Party Affiliation', 'Party Affiliation',
                        'Ideology', 'Ideology', 'Ideology',
                        'Ideology', 'Ideology', '2016 Vote', '2016 Vote',
                        'Education', 'Education', 'Education',
                        'Income', 'Income', 'Income',
                        'Marital Status', 'Marital Status', 'Marital Status',
                        'Child < 18', 'Child < 18', 'Single Parent',
                        'Single Parent', 'Religion', 'Religion',
                        'Religion', 'Religion', 'Attend Religious Service',
                        'Attend Religious Service', 'Attend Religious Service', 'Evangelical',
                        'Evangelical', 'Aborition', 'Abortion',
                        'Abortion', 'Union HH', 'Union HH',
                        'Military HH', 'Military HH', 'LGBTQ HH',
                        'LGBTQ HH', 'Urbanicity', 'Urbanicity',
                        'Urbanicity', 'Suburban', 'Suburban',
                        'Region', 'Region', 'Region',
                        'Region'],list(df_temp3.iloc[1, :])]
    tuples = list(zip(*arrays))
    index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
    df_temp3 = df_temp3.drop(0)
    df_temp3 = df_temp3.drop(1)
    df_temp3 = pd.DataFrame(df_temp3.to_numpy(), columns=index)
    df_temp3.to_csv(file_name, index=False)