In [1]:
import pandas as pd
def read(file_name):
    df_temp3 = pd.read_csv(file_name)
    list(df_temp3.iloc[1, :])
    arrays = [['', 'All', 'Gender', 
                        'Gender', 'Age', 'Age', 
                        'Age', 'Age', '<50/50+',
                        '<50/50+', 'Race', 'Race',
                        'Race', 'Race', 'Race',
                        'Race', 'Class', 'Class',
                        'Class', 'Class', 'White X Class',
                        'White X Class', 'Paycheck', 'Paycheck',
                        'Paycheck', 'Paycheck', 'Paycheck',
                        'Party Affiliation', 'Party Affiliation', 'Party Affiliation',
                        'Ideology', 'Ideology', 'Ideology',
                        'Ideology', 'Ideology', '2016 Vote', '2016 Vote',
                        'Education', 'Education', 'Education',
                        'Income', 'Income', 'Income',
                        'Marital Status', 'Marital Status', 'Marital Status',
                        'Child < 18', 'Child < 18', 'Single Parent',
                        'Single Parent', 'Religion', 'Religion',
                        'Religion', 'Religion', 'Attend Religious Service',
                        'Attend Religious Service', 'Attend Religious Service', 'Evangelical',
                        'Evangelical', 'Aborition', 'Abortion',
                        'Abortion', 'Union HH', 'Union HH',
                        'Military HH', 'Military HH', 'LGBTQ HH',
                        'LGBTQ HH', 'Urbanicity', 'Urbanicity',
                        'Urbanicity', 'Suburban', 'Suburban',
                        'Region', 'Region', 'Region',
                        'Region'],list(df_temp3.iloc[0, :])]
    tuples = list(zip(*arrays))
    index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
    df_temp3 = pd.DataFrame(df_temp3.to_numpy(), columns=index)
    df_temp3 = df_temp3.drop(0)
    return df_temp3

df = read("survey_data/survey_1.csv")
df

first                             All Gender          Age                   \
second Credibility Interval: ±    All   Male Female 18-34 35-49 50-64  65+
1                           Yes  3850   1920   1930  1014   983  1068  786
2                            No   866    369    497   410   219   146   91
3                      Not Sure    83     45     39    44    25    11    4
4                         Total  4800   2334   2466  1468  1226  1224  882
5         Composition of Adults  100%    49%    51%   31%   26%   26%  18%

first  <50/50+        ... LGBTQ HH Urbanicity                Suburban         \
second   18-49   50+  ...       No      Urban Suburban Rural     Male Female
1         1997  1854  ...     3385       1077     1878   895      961    917
2          629   238  ...      712        278      336   252      133    202
3           68    15  ...       70         25       37    21       18     19
4         2694  2106  ...     4166       1381     2250  1169     1112   1138
5          56%   44%  ...      87%        29%      47%   24%      23%    24%

first    Region
second Northeas Midwest South  West
1           710     844  1413   883
2           147     162   347   210
3            14      16    32    21
4           871    1021  1793  1115
5           18%     21%   37%   23%

[5 rows x 77 columns]

In [2]:
df.loc[1, 'Gender']

second
Male      1920
Female    1930
Name: 1, dtype: object

In [3]:
df.loc[1, ('Gender','Male')]

'1920'

In [4]:
df.loc[1, 'Urbanicity']

second
Urban       1077
Suburban    1878
Rural        895
Name: 1, dtype: object